body {
    margin: 0;
    background: #fafafa;
}

header {
    padding: 10px 0;
    background-color: #545454;
}

.headertext {
    color: white;
}

.textwrapper {
display: inline-block;
vertical-align: middle;
 
}

img {
    height: 75px;
    margin-left: 40px;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}
